@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground); /* Aplica un color de texto predeterminado */
  background: var(--background);
  font-family: Arial, sans-serif; /* O cualquier fuente que estés utilizando */
}

input {
  color: var(--foreground); /* Establece un color visible para el texto */
}