@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Roboto", sans-serif;
  --background: #faf5e6;
  --accent: #83511e;
  --highlight: #8c6239;
  --golden: #e0b21a;
  --gold: #ac8812;
}

a {
  color: var(--accent);
  text-decoration: none;
}
.no-hover:hover {
  color: inherit;
}

a:hover {
  color: var(--golden);
  text-decoration: underline;
}

body {
  color: var(--highlight);
  background-color: var(--background);
  font-family: var(--font-serif);
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
}

p {
  font-family: var(--font-sans);
  transition: color 0.3s ease;
}

p:hover {
  color: var(--golden);
}

button,
a {
  transition: all 0.3s ease;
}

button:hover,
a:hover {
  background-color: var(--highlight);
  color: var(--golden);
}

@media (max-width: 640px) {
  .grid-cols-1 > div {
    margin-bottom: 1rem;
  }

  .fixed {
    bottom: 16px;
    right: 16px;
  }

  .input,
  .buttons-container {
    margin-bottom: 1rem;
  }
}
.back-button {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 10;
  padding: 8px 16px;
  background-color: var(--gold);
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-button:hover {
  background-color: var(--gold);
  transform: scale(1.05);
}

@media (max-width: 640px) {
  .back-button {
    top: 8px;
    left: 8px;
    font-size: 0.875rem;
    padding: 6px 12px;
  }
}
