@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Roboto", sans-serif;
  --background: #faf5e6;
  --accent: #83511e;
  --highlight: #8c6239;
  --golden: #e0b21a;
  --gold: #ac8812;
}

a {
  color: var(--accent);
  text-decoration: none;
}
.no-hover:hover {
  color: inherit;
}

a:hover {
  color: var(--golden);
  text-decoration: underline;
}

body {
  color: var(--highlight);
  background-color: var(--background);
  font-family: var(--font-serif);
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
}

p {
  font-family: var(--font-sans);
  transition: color 0.3s ease;
}

p:hover {
  color: var(--golden);
}

button,
a {
  transition: all 0.3s ease;
}

button:hover,
a:hover {
  background-color: var(--highlight);
  color: var(--golden);
}
